In [1]:
reset -fs

In [15]:
import pickle
from pprint import pprint

import pandas as pd

In [16]:
file_path =('../')

In [17]:
data_cuisine = pickle.load(open(file_path+"data/user_by_cuisine_ratings.pkl", 'rb'))
df_cuisine = pd.DataFrame(data_cuisine)
data_items = pickle.load(open(file_path+"data/user_by_cuisine_by_dish_ratings.pkl", 'rb'))

In [18]:
df_cuisine.tail()

      user_id item_id rating
115       Bob   Pizza    1.5
116      Anne   Pizza      5
117     Sarah   Pizza    2.5
119   Samatha   Pizza    2.5
120  Michelle   Pizza    1.5

In [23]:
pd.DataFrame.from_dict(data_items['Chapeau!'])

     user_id                        item_id rating
0      Brian  Peach and Goat Cheese Tartine    0.5
1      David  Peach and Goat Cheese Tartine    3.5
3        Jon  Peach and Goat Cheese Tartine    4.5
4     Marvin  Peach and Goat Cheese Tartine      2
8       Leah  Peach and Goat Cheese Tartine    3.5
13    Eugene                   Creme brulee    2.5
14       Jon                   Creme brulee      3
15    Marvin                   Creme brulee    0.5
18     Sarah                   Creme brulee    0.5
20   Samatha                   Creme brulee    4.5
21  Michelle                   Creme brulee      3
23     David                  Crepe Suzette      1
25       Jon                  Crepe Suzette      5
26    Marvin                  Crepe Suzette      5
28      Anne                  Crepe Suzette      2
30      Leah                  Crepe Suzette    1.5
32  Michelle                  Crepe Suzette    2.5
33     Brian                    Ratatouille      3
34     David                    Ratatouille      2
36       Jon                    Ratatouille      2
40     Sarah                    Ratatouille      4
43  Michelle                    Ratatouille    3.5
44     Brian              French Onion Soup      2
45     David              French Onion Soup      1
46    Eugene              French Onion Soup    0.5
47       Jon              French Onion Soup    4.5
48    Marvin              French Onion Soup    2.5
50      Anne              French Onion Soup    0.5
51     Sarah              French Onion Soup    1.5
56     David               French Beef Stew      4
57    Eugene               French Beef Stew      5
59    Marvin               French Beef Stew      2
60       Bob               French Beef Stew    1.5
61      Anne               French Beef Stew      3
63      Leah               French Beef Stew      1